#####################
# SECURITY
#####################
BOT_TOKEN=77101615AE2CMYYxej-e6mxbNkp4v8VMFsk
SECRET_KEY=django-insecure-3q%=@xzpd3#k1$7 #d8(r8*al$4$plu^r#++4+dc(-gewfygo
DEBUG=TRUE

#####################
# CONFIGURATION
#####################
DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_SUPERUSER_PHONE=998335190626
DJANGO_SUPERUSER_EMAIL=qwerty@gmail.com
DJANGO_SUPERUSER_PASSWORD=qwerty

#####################
# DATABASE
#####################
DATABASE_URL=postgresql://postgres:HmcqheeymVaMQzOGVCEnuWanCTuxjvQs@maglev.proxy.rlwy.net:20817/railway
POSTGRES_DB=test
POSTGRES_USER=postgres
POSTGRES_PASSWORD=dbpsql_passcode
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_BOUNCER_HOST=pgbouncer
POSTGRES_BOUNCER_PORT=6432

#####################
# PORTS
#####################
PORT=8000
RABBITMQ_PORT=15672
CELERY_FLOWER=5555
AMQP_PORT=5672

#####################
# Cache
#####################
REDIS_CACHE_URL=redis://redis:6379/1
CACHE_TIMEOUT=300
CELERY_BROKER=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
RABBITMQ_USER=bugs_bunny
RABBITMQ_PASS=carrot
RABBITMQ_HOST=rabbitmq
RABBITMQ_VHOST=%2F

#######################
# SMS OTP
#######################
SMS_API_URL=https://api.smsapi.com/sms.do
SMS_LOGIN=login
SMS_PASSWORD=password
